

body {
	font-family: 'Open Sans',serif;	
}

#container {
	margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  background-image: url("header_bg.jpg");
  height: 400px;
  text-align: center;
  padding: 50px;
}

nav {
  text-align: left;
  font-weight: 800;
  font-size: 24px;
  color: white;
}

button {
  font-weight: 800;
  font-size: 14px;
  background-color: #f9e42e;
  padding: 20px 40px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

#benefits {
  background: #f0efef;
  padding: 50px;
}

#benefits h2 {
  font-family: 'Open Sans',serif; 
  font-size: 24px;
  font-weight: 500;
  color: #033048;
}

#benefits p {
  font-size: 13px;
  font-weight: 200;
  color: #606161;
}

#benefits ul {
  font-size: 13px;
  font-weight: 200;
  color: #606161;
    list-style-type: disc; 
   list-style-position: inside; 
   padding-left: 50px;
}

#testimonial {
	background-image: url("testimonial_bg.jpg");
  height: 200px;
  text-align: center;
  vertical-align: middle;
  padding: 50px;
}

#testimonial .quote {
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
  color: #f0efef;
  padding: 50px 100px 0px 100px;
}

#testimonial .quotename {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #f0efef;
}

#signupnow {
  padding: 20px;
  background: #f9e42e;
  text-align: center;
}

#signupnow .button {
 font-weight: 800;
  font-size: 12px;
  color: white;
  background: #033048;
  padding: 20px 40px 20px;
  border: 1px solid black;
  border-radius: 5px;
}


#social {
	background: #121212;
}

#social h1 {
   text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #f9e42e;
  padding: 20px;
}

#social ul {
 font-family: 'Open Sans',serif;  
  font-weight: lighter;
  font-size: 13px;
  list-style-type: none;
  text-align: center;
}

#social li {
    display: inline;
}

footer {
  font-weight: 600;
  font-size: 9px;
  color: #606161;
  text-align: center;
  background: #121212;
  padding: 50px;
}

h1 {
	font-family: 'Open Sans',serif;	
	font-size: 24px;
	font-weight: 800;
	color: white;
}

h2 {
	font-family: 'Open Sans',serif;	
	font-size: 24px;
	font-weight: 600;
	color: white;
}

h3{
	font-family: 'Open Sans',serif;	
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: 'Open Sans',serif;	
	font-weight: lighter;
	font-size: 13px;
}



